#  データベースURL
DATABASE_URL="postgresql"

# シークレットキー
SECRET_KEY=abc

# allow_origins
ALLOW_ORIGINS=http://localhost:5173

# 管理者情報
ADMIN_ID=admin
ADMIN_NAME=abc
PASSWORD=abc

# Web Push（同じ鍵ペアを継続して使用する）
VAPID_PUBLIC_KEY=your_public_key
VAPID_PRIVATE_KEY=your_private_key
VAPID_SUBJECT=mailto:admin@example.com
